<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fit-Too</title>
    <style>
        .reserve-btn {
            border: 0;
            background-color: white;
            font-size: 200%;
            color: dodgerblue;
        }

    </style>
</head>
<body>
<h1>TIME TABLE</h1>
<div th:text="${reserve}"></div>
<form action="/member/reservation" method="post">
<table border="5" cellspacing="0" align="center">
    <thead>
    <tr>
        <td align="center" height="50"
            width="100">
            <b>일</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>월</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>화</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>수</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>목</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>금</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>토</b>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50">
            <input type="hidden" th:value="${trainerId}" name="trainerId">
            <button type="submit" class="reserve-btn" value="2022-11-01" name="date">1</button>
        </td>
        <td align="center" height="50">
            <button type="submit" class="reserve-btn" value="2022-11-02" name="date">2</button>
        </td>
        <td align="center" height="50">
            <button type="submit" class="reserve-btn" value="2022-11-03" name="date">3</button>
        </td>
        <td align="center" height="50">
            <button type="submit" class="reserve-btn" value="2022-11-04" name="date">4</button>
        </td>
        <td align="center" height="50">
            <button type="submit" class="reserve-btn" value="2022-11-05" name="date">5</button>
        </td>
    </tr>
    <tr>
        <td align="center" height="50">
            <button type="submit" class="reserve-btn" value="2022-11-06" name="date">6</button>
        </td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    </tbody>
</table>
</form>
</body>
</html>