<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .inline-container {
            display: inline;
        }
    </style>
</head>
<body>
<div th:fragment="right_header">
    <div th:if="${member != null}">
        <div class="rightTop" th:if="|${member?.loginType.description().toString() eq '일반 회원'}|">
            <a href="/member/profile">내 정보</a>
            <a href="/logout">로그아웃</a>
        </div>
        <div class="rightTop" th:if="|${member?.loginType.description().toString() eq '트레이너'}|">
            <a href="/trainer/profile">내 정보</a>
            <a href="/trainer/schedule">스케줄 관리</a>
            <a href="/logout">로그아웃</a>
        </div>
    </div>

    <div th:if="${member == null}">
        <div class="rightTop" th:if="|${loginType eq '일반 회원'}|">
            <a href="/member/profile">내 정보</a>
            <a href="/logout">로그아웃</a>
        </div>
        <div class="rightTop" th:if="|${loginType eq '트레이너'}|">
            <a href="/trainer/profile">내 정보</a>
            <a href="/trainer/schedule">스케줄 관리</a>
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</div>
</body>
</html>