<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>예약 회원 현황</title>
</head>
<body>
<h1>예약 회원 현황</h1>
<div th:object="${reservations}">
  <form action="/reservation/add" method="post">
    <div th:each="reservation: ${reservations}">
      <div th:text="${reservation.memberUserId}"></div>
      <div th:text="${reservation.date}"></div>
      <div th:text="${reservation.startTime}"></div>
      <div th:text="${reservation.endTime}"></div>
      <div th:text="${reservation.price}"></div>
      <div th:text="${reservation.personnel}"></div>
      <div th:text="${reservation.exercise}"></div>
    </div>
  </form>
</div>
</body>
</html>