<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    .leftTop {
      float: left;
    }

    .rightTop {
      float: right;
    }

    .block-input {
      display: block;
    }

    .error {
      font-weight: bold;
      color: red;
    }
  </style>
  <title>Fit-Too</title>
</head>
<body>
<div th:replace="/fragment/common/right_header.html::right_header"></div>
<div th:replace="/fragment/common/home_header.html::home_header"></div>

<form action="/trainer/schedule/create" method="post">
  <div>
    <p>범위 날짜 선택</p>
    <div th:text="${errorMessage}" th:if="${errorMessage != null}" class="error"></div>
    <div>
      시작일: <input type="date" name="startDate" class="block-input" required>
      종료일: <input type="date" name="endDate" class="block-input" required>
    </div>
    <div>
      시작 시간: <input type="time" name="startTime" class="block-input" required>
      종료 시간: <input type="time" name="endTime" class="block-input" required>
    </div>
    <div>
      1회 가격: <input type="text" name="price" class="block-input" required>
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th>종목:</th>
      <td>
        <!--        <input type="text" th:text="">-->
      </td>
    </tr>
    </thead>
  </table>

  <button type="submit">저장</button>
</form>

<div th:if="${scheduleList != null}">
  <div th:each="schedule : ${scheduleList}">
    <div th:text="${schedule.getDate()}"></div>
  </div>
</div>
</body>
</html>