<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    .leftTop {
      float: left;
    }

    .rightTop {
      float: right;
    }
    .block-input {
      display: block;
    }
  </style>
  <title>Fit-Too</title>
</head>
<body>
<div th:replace="/fragment/common/right_header.html::right_header"></div>
<div th:replace="/fragment/common/home_header.html::home_header"></div>

<form action="/trainer/schedule/create" method="post">
  <div>
    <p>범위 날짜 선택</p>
    시작일: <input type="date" name="startDate" class="block-input">
    종료일: <input type="date" name="endDate" class="block-input">
  </div>

  <table>
    <thead>
    <tr>
      <th>종목: </th>
      <td>
        <input type="text">
      </td>
    </tr>
    </thead>
  </table>

  <button type="submit">저장</button>
</form>

<div th:if="${scheduleList != null}">
  <div th:each="schedule : ${scheduleList}">
    <div th:text="${schedule.getDate()}"></div>
  </div>
</div>
</body>
</html>