<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/templates/css/bootstrap.min.css}"
          href="/templates/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <script>
        // 체크박스 체크 validate (체크박스 유효성 검증)
        function chkchk(form) {
            var arr_form = document.getElementsByClassName('form-check');
            var num = 0;
            for (var i = 0; i < arr_form.length; i++) {
                if (arr_form[i].checked) {
                    num++;
                }
            }
            if (!num) {
                alert('하나 이상 선택해주시기 바랍니다');
                return false;
            }
        }
    </script>

    <title>회원 가입</title>
</head>
<body>
<div th:replace="/fragment/common/home_header.html :: home_header"></div>

<h1>회원 가입 페이지</h1>

<form method="post" th:object="${trainer}" class="container" onsubmit="return chkchk(this);" enctype="multipart/form-data">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>

    <div>
        <label for="userId" th:text="#{userId}">아이디</label>
        <input type="text" id="userId" th:field="*{userId}" name="userId" required>
    </div>
    <div>
        <label for="password" th:text="#{password}">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" name="password" required>
    </div>
    <div>
        <label for="repassword" th:text="#{repassword}">비밀번호 확인</label>
        <input type="password" id="repassword" required>
    </div>
    <div>
        <label for="userName" th:text="#{name}">이름</label>
        <input type="text" id="userName" th:field="*{userName}" name="userName" required>
    </div>
    <div>
        <label for="phone" th:text="#{phone}">연락처</label>
        <input type="text" id="phone" th:field="*{phoneNumber}" name="phoneNumber" required>
    </div>
    <div>
        <label for="region" th:text="#{region}">지역</label>
        <input type="text" id="region" th:field="*{region}" name="region" required>
    </div>
    <div>
        <p>성별</p>
        <label for="man" th:text="#{man}">남</label>
        <input type="radio" id="man" name="gender" value="1" required>
        <label for="girl" th:text="#{girl}">여</label>
        <input type="radio" id="girl" name="gender" value="2" required>
    </div>
    <div>
        <label for="period" th:text="#{exercisePeriod}">운동 경력</label>
        <select name="exercisePeriod" id="period" th:value="*{exercisePeriod}" required>
            <option value="">기간을 선택하세요</option>
            <option value="1년 미만">3년 ~ 5년</option>
            <option value="1년~2년">5년 ~ 7년</option>
            <option value="2년~3년">7년 ~ 10년</option>
            <option value="3년~4년">10년 이상</option>
        </select>
    </div>
    <div>
        <label for="power" th:text="#{power}">3대 측정(선택)</label>
        <input type="text" id="power" th:field="*{power}" name="power">
    </div>
    <div th:text="#{mainPt}">주 분야</div>
    <div th:each="mainPt : ${mainPtList}" class="form-check form-check-inline">
        <input type="checkbox" th:value="${mainPt.key}" name="regPurposeList" th:field="${trainer.mainPtList}"
               class="form-check">
        <label class="form-check-label" th:for="${#ids.prev('mainPtList')}" th:text="${mainPt.value}"></label>
    </div>
    <div>
        <label for="awards" th:text="#{awards}">수상 기록</label>
        <input type="text" id="awards" th:field="*{awards}" name="awards">
    </div>

    <div>
        <label for="profilePicture" th:text="#{profilePicture}">프로필 사진</label>
        <input type="file" id="profilePicture" th:field="*{profilePicture}" name="profilePicture" required>
    </div>
    <div>
        <label for="price" th:text="#{price}"></label>
        <input type="text" id="price" th:field="*{price}" name="price">
    </div>
    <div>
        <label for="introduce" th:text="#{introduce}">트레이너 소개</label>
        <input type="text" id="introduce" th:field="*{introduce}" name="introduce">
    </div>

    <button type="submit" th:text="#{register}">회원 가입</button>
</form>

</body>
</html>