<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fit-Too</title>


</head>
<body>
<h1>TIME TABLE</h1>
<div th:text="${reserve}"></div>
<table border="5" cellspacing="0" align="center">
    <thead>
    <tr>
        <td align="center" height="50"
            width="100">
            <b>일</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>월</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>화</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>수</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>목</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>금</b>
        </td>
        <td align="center" height="50"
            width="100">
            <b>토</b>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50">
            <div></div>
            <button>1</button>
        </td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    <tr>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
        <td align="center" height="50"></td>
    </tr>
    </tbody>
</table>
</body>

</html>