<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <link th:href="@{/templates/css/bootstrap.min.css}"
        href="/templates/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .leftTop {
      float: left;
    }

    .rightTop {
      float: right;
    }

  </style>
  <title>Fit-Too</title>
</head>
<body>
<div th:replace="/fragment/common/left_header.html::left_header"></div>
<div th:replace="/fragment/common/right_header.html::right_header"></div>
<h1>Fitness Together! Fit-too</h1>
<div th:text="${member.userId}"></div>
<div th:text="|${member.userId}님, 환영합니다.|"></div>

<div th:if="|${member.loginType.memberType().toString() eq '일반 회원'}|">
  <a href="/reservation/view">예약 현황 보기</a>
</div>


<div>
  <form action="/trainer/trainerList">
    <input type="hidden" th:value="${member.loginType}" name="loginType">
    <button type="submit" th:text="#{trainerList}"></button>
  </form>
</div>


</body>
</html>